@import './colors.scss';

$link: $_white;
$link_visited: $_white;
$primary-color: $_light-pink;
$link_hover: $_light-pink;
$radio-background-color: $_dark-purple;
$ext-radio-background-color: $_dark-blue;
$font-color: $_white;
$header-size: 10vh;
