@import '../../styles/variables.scss';

.container{
    border-bottom: solid 1px transparent;
    border-top: solid 1px transparent;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 9px -5px;
    display: grid;
    justify-content: end;
    padding: 0;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 5;
}

.routeList{
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 15px;
}

.routeList > li{
     padding-right: 25px;
     font-size: 30px;
}